<header class="navbar" role="banner">

<!--
  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}

  <div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>

    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
      <a class="site-title" href="{{ "/" | relative_url }}">
        <img class="wordmark" src="{{ "/assets/wordmark.svg" | relative_url }}"/>
      </a>

      <div class="nav_left hidden-xs">
        <a class="nav_item" href="/menu">Menu</a>
        <a class="nav_item" href="/catering">Catering</a>
        <a class="nav_item" href="/contact">Contact</a>
      </div>
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <a class="nav_yelp hidden-xs" href="http://bit.ly/2jImhp7" target="_blank" rel="noopener">
        FIND US ON YELP
      </a>

      <div class="hamburger hidden-sm hidden-md hidden-lg" id="hamburger_icon">
        <img src="{{ "/assets/hamburger.svg" | relative_url }}"/>
      </div>
    </div>
    
-->
</header>



