---
---

@charset "utf-8";

$small-font-size:  14px;
$base-line-height: 1.5;
$color_brand: #22274D;

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
	padding: 0;
	background: #fcfcfc;
}

div.reffs_brand {
	text-align: center;
	margin: 30px 0 0 0;
	img.logo_brand {
		width: 60px;
		height: auto;
	}
}

div.hero {
	text-align: center;
	padding: 0 20px;
	background: #fff;
	border-radius: 12px;
	box-shadow: #f0f0f0 0 0 20px;
	box-sizing: border-box;
	border: 1px solid transparent;
	margin: 30px 0 160px 0;
	img.logo_sq {
		width: 100px;
		height: auto;
		border-radius: 8px;
		margin: 60px 0 40px 0;
	}
	h1 {
		font-size: 32px;
		font-weight: 900;
		line-height: 40px;
		margin: 0 0 30px 0;
	}

	button.cta {
		background: #000000;
		padding: 16px 20px;
		border-radius: 4px;
		margin: 0 0 30px 0;
		&:hover {
			opacity: 0.7;
			cursor: pointer;
		}
		a {
			color: #ffffff;
			font-size: 18px;
			letter-spacing: 0.2px;
			font-weight: 600;
			text-decoration: none;
		}
	}

	p.hurry {
		font-size: 14px;
		margin: 0 0 40px 0;
	}
}

div.how {
	color: #808080;
	h2 {
		text-align: center;
		font-size: 20px;
		line-height: 26px;
		margin: 0 0 12px 0;
	}
}

div.disclaimer {
	color: #808080;
	text-align: center;
	p {
		font-size: 14px;
		line-height: 24px;
	}
}



